---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{ page.profile_pic | prepend: 'assets/img/' }}" width="100%" style="border-radius:15px"
            alt="A photograph of Krishna">
          <p align="center">
            <b><a href="mailto:jkrishna@mit.edu">Email</a></b> |
            <b><a href="{{ page.google_scholar }}">Google Scholar</a></b> <br>
            <b><a href="{{ page.cv | prepend: 'assets/pdf/' }}">CV</a></b> |
            <b><a href="{{ page.thesis | prepend: 'assets/pdf/' }}">PhD Thesis</a></b> <br>
            <b><a href="{{ page.github }}">GitHub</a></b> |
            <b><a href="{{ page.linkedin }}">LinkedIn </a></b>
          </p>
          <!-- <p align="center">
            <a href="https://twitter.com/_krishna_murthy?ref_src=twsrc%5Etfw" class="twitter-follow-button"
              data-show-count="false">Follow @_krishna_murthy</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p> -->
        </div>
        <div class="col-sm">
          <div class="clearfix">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% if page.news -%}
    <!-- News -->
    {%- include news.html %}
    {%- endif %}
    {% if page.selected_papers -%}
    <!-- Selected papers -->
    {%- include selected_papers.html %}
    {%- endif %}
    {%- if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>

    </div>
    {%- endif %}
  </article>

</div>